{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AdminAuthentication": {
    "MastodonUser": "mapache",
    "MastodonDomain": "hachyderm.io"
  },
  "Domains": [
    "localhost", "localhost:5099"
  ],
  "DomainConfig": {
    "localhost": {
      "SingleUserInstance": false
    }
  },
  "DefaultInstanceName": "FediProfile",
  "SingleUserInstance": false,
  "RegistrationOpen": true,
  "InvitationCode": "",
  "Authentication": {
    "GitHub": {
      "ClientId": "",
      "ClientSecret": ""
    },
    "LinkedIn": {
      "ClientId": "",
      "ClientSecret": "",
      "UseProfileBasicInfo": false
    }
  }
  ,
  "PlatformLinks": {
    "JoinMastodonUrl": "https://joinmastodon.org"
  }
}
