{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AdminAuthentication": {
    "MastodonUser": "mapache",
    "MastodonDomain": "hachyderm.io"
  },
  "Domains": [
    "localhost", "localhost:5099"
  ],
  "SingleUserInstance": false,
  "RegistrationOpen": true,
  "InvitationCode": "",
  "Authentication": {
    "GitHub": {
      "ClientId": "",
      "ClientSecret": ""
    },
    "LinkedIn": {
      "ClientId": "",
      "ClientSecret": ""
    }
  }
}
